## Balance Sheet CSV

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('Valuation_data_cleaned.xlsx', sheet_name = 'Balance Sheet', header =24, nrows=43)
# remove global average row
df = df[1:]

# select only ISO and Coef column
df = df[["Variable", "Coef"]]

# rename column names to id and value to match js script
df = df.rename(columns={'Variable':"id", "Coef":"value"})

df = df.set_index('id')
df

     value
id
AE -0.1044
AT -0.3397
AU  0.1675
BE -0.1358
CA -0.0561
CH  0.1561
CN -0.2565
CZ -0.0553
DE -0.2235
DK  0.2275
EG -0.1966
ES -0.0779
FI  0.1382
FR -0.1838
GB -0.1094
GR -0.2757
HK -0.3366
HU -0.0794
ID  0.0663
IE  0.0607
IL -0.1240
IN  0.1349
IT -0.3096
JO -0.3614
KR -0.4150
LU -0.3135
MY -0.1579
NL  0.0954
NO -0.0699
NZ  0.1685
PH -0.0561
PL -0.2842
PT -0.0972
QA  0.0273
RU -0.3415
SA  0.1517
SE  0.0567
SG -0.2407
TH  0.0912
TR -0.2520
TW -0.0651
US  0.2613

In [4]:
csv_file = df.to_csv(r'balance_sheet.csv')

In [5]:
df = pd.DataFrame(df)
print(df.to_string())

     value
id
AE -0.1044
AT -0.3397
AU  0.1675
BE -0.1358
CA -0.0561
CH  0.1561
CN -0.2565
CZ -0.0553
DE -0.2235
DK  0.2275
EG -0.1966
ES -0.0779
FI  0.1382
FR -0.1838
GB -0.1094
GR -0.2757
HK -0.3366
HU -0.0794
ID  0.0663
IE  0.0607
IL -0.1240
IN  0.1349
IT -0.3096
JO -0.3614
KR -0.4150
LU -0.3135
MY -0.1579
NL  0.0954
NO -0.0699
NZ  0.1685
PH -0.0561
PL -0.2842
PT -0.0972
QA  0.0273
RU -0.3415
SA  0.1517
SE  0.0567
SG -0.2407
TH  0.0912
TR -0.2520
TW -0.0651
US  0.2613

## Income Statement CSV

In [6]:
df1 = pd.read_excel("Valuation_data_cleaned.xlsx", sheet_name = "Income Statement", header = 25, nrows = 44)

df1 = df1[1:]
df1 = df1[["Variable", "Coef"]]
df1 = df1.rename(columns={"Variable":"id", "Coef":"value"})
df1 = df1.set_index("id")

df1

     value
id
AE -0.1839
AT -0.2630
AU  0.1645
BE -0.0788
CA -0.0167
CH  0.2751
CN -0.2960
CZ -0.0593
DE -0.1706
DK  0.2316
EG -0.3039
ES -0.1063
FI  0.1499
FR -0.1484
GB -0.0976
GR -0.1842
HK -0.2657
HU -0.1385
ID  0.0143
IE  0.0680
IL -0.1109
IN  0.0475
IT -0.2573
JO -0.2994
KR -0.3481
LU -0.2060
MY -0.0566
NL  0.1081
NO -0.0463
NZ  0.2383
PH -0.1080
PL -0.2363
PT -0.0778
QA  0.1258
RU -0.4474
SA  0.2777
SE  0.0832
SG -0.1634
TH  0.0987
TR -0.3534
TW  0.0131
US  0.1726
ZA -0.0807

In [7]:
csv_file = df1.to_csv(r'income_statement.csv')

In [8]:
df1 = pd.DataFrame(df1)
print(df1.to_string())

     value
id
AE -0.1839
AT -0.2630
AU  0.1645
BE -0.0788
CA -0.0167
CH  0.2751
CN -0.2960
CZ -0.0593
DE -0.1706
DK  0.2316
EG -0.3039
ES -0.1063
FI  0.1499
FR -0.1484
GB -0.0976
GR -0.1842
HK -0.2657
HU -0.1385
ID  0.0143
IE  0.0680
IL -0.1109
IN  0.0475
IT -0.2573
JO -0.2994
KR -0.3481
LU -0.2060
MY -0.0566
NL  0.1081
NO -0.0463
NZ  0.2383
PH -0.1080
PL -0.2363
PT -0.0778
QA  0.1258
RU -0.4474
SA  0.2777
SE  0.0832
SG -0.1634
TH  0.0987
TR -0.3534
TW  0.0131
US  0.1726
ZA -0.0807

## Unique Revenue CSV

In [9]:
df2 = pd.read_excel("Valuation_data_cleaned.xlsx", sheet_name = "Op Revenues", header = 25, nrows = 44)


df2

# df1 = pd.read_excel("Valuation_data_cleaned.xlsx", sheet_name = "Income Statement", header = 25, nrows = 44)

# df1 = df1[1:]
# df1 = df1[["Variable", "Coef"]]
# df1 = df1.rename(columns={"Variable":"id", "Coef":"value"})
# df1 = df1.set_index("id")

# df1

XLRDError: No sheet named <'Revenues'>