In [23]:
import pandas as pd
import xlwings as xw

## Industry

In [24]:
bs_industry_data = pd.read_excel(r'../Raw_Data/Valuation_data_edited V2.xlsx', sheet_name = "Balance Sheet", header = 194)
bs_industry_data = bs_industry_data.iloc[:189]
bs_industry_data = bs_industry_data[["Variable", "Coef"]]
bs_industry_data = bs_industry_data.rename(columns = {"Variable": "Balance Sheet Industry", "Coef": "Balance Sheet Industry Coefficient"})

bs_industry_data

           Balance Sheet Industry  Balance Sheet Industry Coefficient
0                     AGRICULTURE                              0.9558
1                        FOOD NEC                              1.3333
2                   MEAT PRODUCTS                              1.1618
3    CANNED FROZEN PRESERVED FOOD                              0.8555
4                     SOFT DRINKS                              1.5450
..                            ...                                 ...
184                  OFFICE REITS                              1.0364
185             HEALTH CARE REITS                              1.1821
186             RESIDENTIAL REITS                              1.1421
187                  RETAIL REITS                              1.0257
188             SPECIALIZED REITS                              1.3994

[189 rows x 2 columns]

## Item

In [25]:
bs_item_data = pd.read_excel(r'../Raw_Data/Valuation_data_edited V2.xlsx', sheet_name = "Balance Sheet", header = 70)
bs_item_data = bs_item_data.iloc[0:122, 0:2]
bs_item_data = bs_item_data.rename(columns = {"Variable":"Balance Sheet Item", "Coef":"Balance Sheet Item Coefficient"})

bs_item_data

          Balance Sheet Item Balance Sheet Item Coefficient
0                       cash                         1.1613
1          trade_receivables                         0.9316
2     other_receivables_debt                         0.7642
3    raw_materials_inventory                         0.8728
4           work_in_progress                         0.9607
..                       ...                            ...
117          book_dilution_2                         0.7767
118          book_dilution_p                         0.3893
119  consolidated_book_delta                         0.6909
120      acc_adjustment_done                        -0.4146
121      book_quality_growth                         1.3522

[122 rows x 2 columns]

## Company Data

### DBS

In [26]:
# guide: https://davidhamann.de/2018/02/21/read-password-protected-excel-files-into-pandas-dataframe/

# dbs_data = pd.read_excel(r'../Raw_Data/Valuation_data.xlsx', sheet_name = "DBS_summary")
# dbs_data

dbs_path = '../Raw_Data/Valuation_data.xlsx'
dbs_workbook = xw.Book(dbs_path)
dbs_worksheet = dbs_workbook.sheets["DBS_summary"]

## Industry Calculations

In [27]:
dbs_bs_industry_data = dbs_worksheet["A16:E20"].options(pd.DataFrame).value
dbs_bs_industry_data = dbs_bs_industry_data.iloc[1:]
dbs_bs_industry_data = dbs_bs_industry_data.reset_index()
dbs_bs_industry_data = dbs_bs_industry_data.rename(columns = {"Variable": "Industry"})

dbs_bs_industry_data

,Industry,Per share,Apprai- sal,Contri- bution,Total
0,BANKS,34.128,0.723,24.666,NaN
1,SECURITIES BROKERS & DEALERS,15.052,0.779,11.722,NaN
2,Total,NaN,NaN,NaN,36.388

In [41]:
# match master balance sheet with dbs data

dbs_industry_merge = pd.merge(bs_industry_data, dbs_bs_industry_data, how = "right", left_on = ["Balance Sheet Industry"], right_on = ["Industry"])

dbs_industry_merge

,Balance Sheet Industry,Balance Sheet Industry Coefficient,Industry,Per share,Apprai- sal,Contri- bution,Total
0,BANKS,0.9579,BANKS,34.128,0.723,24.666,NaN
1,NaN,NaN,SECURITIES BROKERS & DEALERS,15.052,0.779,11.722,NaN
2,NaN,NaN,Total,NaN,NaN,NaN,36.388

In [42]:
dbs_industry_merge = dbs_industry_merge.drop(["Balance Sheet Industry", "Balance Sheet Industry Coefficient"], axis = 1)

dbs_industry_merge

,Industry,Per share,Apprai- sal,Contri- bution,Total
0,BANKS,34.128,0.723,24.666,NaN
1,SECURITIES BROKERS & DEALERS,15.052,0.779,11.722,NaN
2,Total,NaN,NaN,NaN,36.388

## Items Calculations

In [30]:
dbs_bs_items_data = dbs_worksheet["A22:E58"].options(pd.DataFrame).value
dbs_bs_items_data

                                           NaN    NaN     NaN     NaN
ADJUSTMENTS FOR CO FUNDAMENTALS
cash                                     1.999  0.137   0.274     NaN
government_security                      3.306  0.077   0.255     NaN
other_security                           7.731 -0.133  -1.025     NaN
plant_net                                0.573 -0.070  -0.040     NaN
loans_consumer                           2.754 -0.014  -0.039     NaN
loans_commercial                        10.343 -0.030  -0.310     NaN
loans_mortgage                          13.643  0.018   0.245     NaN
loans_other                              8.355 -0.044  -0.364     NaN
loan_loss_reserve_asset                 -3.134  0.001  -0.004     NaN
non_performing_assets                    2.119 -0.109  -0.230     NaN
invest_property                          0.011  0.041   0.000     NaN
investment_in_subsidiaries_securities    0.338  0.020   0.007     NaN
other_intangibles                        2.085 -0.089  -0.185     NaN
assets_sundry                            1.177 -0.055  -0.065     NaN
intermediation                         172.586 -0.007  -1.181     NaN
special_items_history                    0.039  0.180   0.007     NaN
extraordinary_items_hist                 0.000 -0.602   0.000     NaN
deposits_demand                          1.536 -0.745  -1.145     NaN
deposits_savings                         6.303 -0.591  -3.724     NaN
debt_in_current_liability               13.139 -0.696  -9.140     NaN
income_tax_payable                       0.296 -0.700  -0.207     NaN
provisional_other                        0.159 -0.548  -0.087     NaN
sundry_long_term_liabilities             0.794 -0.562  -0.446     NaN
debt_other_longterm                      8.215 -0.687  -5.644     NaN
deferred_tax_liability                  -0.109 -0.421   0.046     NaN
minority_interest_bs                     0.320 -0.877  -0.281     NaN
ordinary_capt_book                       4.296  0.028   0.122     NaN
treasury_stock_lb                       -0.120 -0.001   0.000     NaN
retained_earnings                       14.231  0.014   0.193     NaN
unrealized_gain                         -0.132 -0.150   0.020     NaN
equity_reserves_other                    0.252 -0.009  -0.002     NaN
book_earnings_xtrp                       0.612  0.759   0.464     NaN
book_dividend_xtrp                      -0.300  0.724  -0.217     NaN
book_quality_growth                     10.308  1.020  10.517     NaN
Subtotal Adj                               NaN    NaN     NaN -12.187
BS Appraisal                               NaN    NaN     NaN  24.201